@charset "UTF-8";
/* CSS Document */

* {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p {
	font-size: 12px;
	color: #777;
	line-height: 16px;
	padding: 0.3em 0 0.4em;
}
strong {
	font-weight: bold;
	color: #333;
}
#content ul, #content ol {
	padding:  6px 0 6px 22px;
}
#content li {
	color: #888;
	line-height: 22px;
	font-size: 12px;
	list-style-type: square;
	padding-left: 4px;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0.2em 0 0.3em;
	color: #666;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	text-transform: capitalize;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
label {
	font-size: 14px;
	color: #7f9aa6;
	display: block;
	cursor: pointer;
	padding-bottom: 4px;
}
input[type=text], input[type=password], textarea, select {
	margin-bottom: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border: 2px solid #eaf1f4;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #7f9aa6;
	padding: 6px;
	box-shadow: 0 1px 3px #a9adb0 inset;
	-moz-box-shadow: 0 1px 3px #a9adb0 inset;
	-webkit-box-shadow: 0 1px 3px #a9adb0 inset;
	background: #d7dde0;
	width: 320px;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	border: 2px solid #fff;
	background: #fff;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
input[type=submit], input[type=button] {
	color: #ed1c24;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	border: 0;
	text-transform: uppercase;
	padding: 6px 8px;
	background: #fff;
	box-shadow: 0 1px 2px #666;
	-moz-box-shadow: 0 1px 2px #666;
	-webkit-box-shadow: 0 1px 2px #666;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
input[type=submit]:hover, input[type=button]:hover {
	box-shadow: 0 1px 3px #444;
	-moz-box-shadow: 0 1px 3px #444;
	-webkit-box-shadow: 0 1px 3px #444;
	color: #333;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
input[type=submit]:active, input[type=button]:active {
	box-shadow: 0 1px 3px #444 inset;
	-moz-box-shadow: 0 1px 3px #444 inset;
	-webkit-box-shadow: 0 1px 3px #444 inset;
	color: #999;
	background: #eee;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
textarea {
	max-width: 320px;
	min-width: 320px;
	height: 80px;
	max-height: 80px;
	min-height: 80px;
}
span.aviso {
	font-size: 10px;
	font-family: Verdana, Geneva, sans-serif;
	color: #f00;
	display: block;
	margin-bottom: 14px;
}
.telefone {
	width: 100px !important;
}
.last_right {
	margin-right: 0 !important;
}
.last_bottom {
	margin-bottom: 0 !important;
}
.clear {
	clear: both;
}
#header_wrapper {
	background: #fefefe;
	background: -moz-linear-gradient(top, #fefefe 0%, #f2f6f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f2f6f8));
	background: -webkit-linear-gradient(top, #fefefe 0%, #f2f6f8 100%);
	background: -o-linear-gradient(top, #fefefe 0%, #f2f6f8 100%);
	background: -ms-linear-gradient(top, #fefefe 0%, #f2f6f8 100%);
	background: linear-gradient(top, #fefefe 0%, #f2f6f8 100%);
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f6f8', GradientType=0 );
	box-shadow: 0 1px 3px #b8b8b8;
	-moz-box-shadow: 0 1px 3px #b8b8b8;
	-webkit-box-shadow: 0 1px 3px #b8b8b8;
	width: 100%;
	min-width: 1002px;
	_width: 1002px;
	height: 90px;
	behavior: url(PIE.php);
}
#header, #content, #menu_home, #imagem_topo, #footer {
	width: 1002px;
	margin: 0 auto;
}
#header {
	padding-top: 20px;
}
#content_wrapper_home {
	background: #eaf1f4;
	width: 100%;
	min-width: 1002px;
	_width: 1002px;
	padding: 10px 0 10px;
	box-shadow: 0 1px 2px #cddce3 inset;
	-moz-box-shadow: 0 1px 2px #cddce3 inset;
	-webkit-box-shadow: 0 1px 2px #cddce3 inset;
	behavior: url(PIE.php);
}
#content {
	position: relative;
}
#logo {
	background: url(../images/logo.png) no-repeat;
	width: 247px;
	height: 63px;
	float: left;
}
#logo a {
	text-indent: -9999em;
	width: 100%;
	height: 100%;
	display: block;
}
#menu {
	background: #e2e2e2;
	padding: 0;
	float: left;
	height: 33px;
}
.menu_left {
	background: url(../images/bg-menu-topo-left.png) no-repeat left top;
	width: 7px;
	height: 33px;
	float: left;
}
.menu_right {
	background: url(../images/bg-menu-topo-right.png) no-repeat left top;
	width: 7px;
	height: 33px;
	float: left;
}
#menu_wraper {
	float: right;
	margin-top: 36px;
}
#menu > li {
	float: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: capitalize;
	margin: 0 4px;
	position: relative;
	padding-top: 12px;
	color: #80878f;
}
#menu > li > a {
	float: left;
}
#menu li a, #menu_lateral li a {
	text-decoration: none;
	padding: 0 2px 8px;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	display: block;
}
#menu li a {
	color: #80878f;
}
#menu_lateral li a {
	color: #fff;
}
#menu li a:hover, #menu_lateral li a:hover {
	color: #333;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
}
#menu li ul {
	width: 170px;
	padding: 4px 5px;
	background: #e2e2e2;
	border: 1px solid #999;
	position: absolute;
	display: none;
	top: 30px;
	left: -10px;
}
#menu > li:hover > ul {
	display: block;
}
#menu li ul li a {
	color: #80878f;
	padding: 6px 0 6px 6px;
}

#imagem_topo {
	margin: 6px auto 30px;
}
#menu_home {
	width: 1002px;
	overflow: hidden;
	margin-bottom: 14px;
}
#menu_home li {
	float: left;
	margin-right: 10px;
	text-align: center;
}
#menu_home li h2 {
	background: url(../images/bg-head-menu.jpg) no-repeat;
	height: 16px;
	padding-top: 12px;
	font-size: 13px;
	text-transform: capitalize;
	display: block;
	width: 243px;
}
#menu_home a {
	text-decoration: none;
	color: #333;
	display: block;
	width: 243px;
	height: 146px;
}
#menu_home a#avino {
	background: url(../images/avino.jpg) no-repeat left bottom;
}
#menu_home a#bovino {
	background: url(../images/bovino.jpg) no-repeat left bottom;
}
#menu_home a#transp {
	background: url(../images/transp.jpg) no-repeat left bottom;
}
#menu_home a#imovel {
	background: url(../images/imovel.jpg) no-repeat left bottom;
}

.blocos {
	width: 320px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #fff;
	box-shadow: 0 -10px 10px #f8f8f8 inset, 0 -1px 1px #ccc inset, 0 1px 2px #cfd4d7;
	-moz-box-shadow: 0 -10px 10px #f8f8f8 inset, 0 -1px 1px #ccc inset, 0 1px 2px #cfd4d7;
	-webkit-box-shadow: 0 -10px 10px #f8f8f8 inset, 0 -1px 1px #ccc inset, 0 1px 2px #cfd4d7;
	border: 1px solid #f0f0f0 inset;
	float: left;
	min-height: 120px;
	margin: 8px 8px 8px 2px;
	padding: 2px;
	behavior: url(PIE.php);
}
.blocos h2 {
	background: #999;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	padding: 8px 0 4px;
	text-transform: uppercase;
}
.blocos p {
	padding: 8px;
}
.leia_mais {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #ed1c24;
	margin: 6px 0 4px;
	display: block;
}
.leia_mais:hover {
	color: #333;
}
.link_btn {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #ed1c24;
	text-decoration: none;
	display: block;
	width: 220px;
	margin: 0 auto 8px;
	text-align: center;
	text-transform: uppercase;
	padding: 4px 0;
	background: #f7f7f7;
	border-radius: 14px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	box-shadow: 0 1px 2px #999, 0 -6px 6px #eee inset, 0 -1px 1px #666 inset;
	-moz-box-shadow: 0 1px 2px #999, 0 -6px 6px #eee inset, 0 -1px 1px #666 inset;
	-webkit-box-shadow: 0 1px 2px #999, 0 -6px 6px #eee inset, 0 -1px 1px #666 inset;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
.link_btn:hover {
	color: #000;
	box-shadow: 0 1px 2px #666, 0 -6px 6px #ddd inset, 0 -1px 1px #444 inset;
	-moz-box-shadow: 0 1px 2px #666, 0 -6px 6px #ddd inset, 0 -1px 1px #444 inset;
	-webkit-box-shadow: 0 1px 2px #666, 0 -6px 6px #ddd inset, 0 -1px 1px #444 inset;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	behavior: url(PIE.php);
}
.share {
	display: block;
	text-align: center;
	margin-top: 8px;
}
.share a {
	margin: 0 4px;
}
#footer {
	padding: 25px 0 16px;
	text-align: center;
	position: relative;
}
p.copyright {
	color: #a4a4a4;
}
a.wpcriativa {
	position: absolute;
	right: 0;
	top: 27px;
}

#left {
	float: right;
	width: 790px;
}
#menu_lateral {
	float: left;
	width: 170px;
	padding: 6px;
	background: #ea1c24;
	box-shadow: 0 1px 2px #333;
	-moz-box-shadow: 0 1px 2px #333;
	-webkit-box-shadow: 0 1px 2px #333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	behavior: url(PIE.php);
}
#menu_lateral ul {
	padding: 0 0 0 4px;
}
#menu_lateral li {
	text-transform: capitalize;
	list-style-type: none;
	line-height: 16px;
}
#menu_lateral li a {
	padding: 6px 0 6px 11px;
	background: url(../images/list-icon.png) no-repeat left 12px;
}
#right {
	float: right;
	width: 260px;
	padding: 43px 0 0;
}
#right p {
	padding: 0;
}
#right p a.link_btn {
	width: 240px;
	margin-bottom: 10px;
}
#form {
	width: 300px;
}
.imagem_form {
	position: absolute;
	bottom: -10px;
	left: 615px;
}
#mapa {
	box-shadow: 0 1px 4px #666;
	-moz-box-shadow: 0 1px 4px #666;
	-webkit-box-shadow: 0 1px 4px #666;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	behavior: url(PIE.php);
}
#content .list_number li {
	list-style-type: decimal;
}
[href="#"] {
	cursor: default;
}


#trabalhe table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #777;
	line-height: 17px;
	padding: 0.3em 0 0.4em;
	background-color: #F8F8F8;
}
#trabalhe .linha1 {
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #EA1C24;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 6px;
}
#trabalhe .tr {
	height: 25px;
	padding-left: 14px;
}
#trabalhe td {
	padding: 4px 2px;
}
#trabalhe .linha2 {
	font-weight: normal;
	color: #FFFFFF;
	background-color: #999999;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	height: 20px;
	padding: 6px 0;
}
#trabalhe .linha3 {
	font-weight: normal;
	background-color: #ddd;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	height: 20px;
}
#trabalhe .box1 {
	width: 220px;
}
#trabalhe .box2 {
	width: auto;
}
#trabalhe .box3 {
	width: 530px;
}
#trabalhe .box4 {
	width: 130px;
}